li span {
    width: 100px;
    display: inline-block;
}

.delete {
    margin-left: 50px;
    margin-right: 1px;
}

.strike {
    text-decoration: line-through;
}

button {
    cursor: pointer;
}

.btn-disabled {
    pointer-events: none;
    cursor: not-allowed;
}