body {
    background: rgb(245,247,250);
    background: linear-gradient(90deg, rgba(245,247,250,1) 0%, rgba(195,207,226,1) 100%);
    height: 100vh;
}

.container {
    max-width: 800px;
}

h1 {
    font-size: 90px !important;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
}

li, input, button {
    font-family: 'Source Sans Pro', sans-serif;
}

input::placeholder {
    font-style: italic;
}

.input:focus, .input:active {
    border: none;
    box-shadow: none;
}

.todo-container {
    padding-left: 0;
    padding-right: 0;
}

/* Notification */

.notification {
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
}

ul {
    list-style-type: none;
    height: 240px;
    overflow-y: auto;
    overflow-x: hidden;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.task-content {
    text-align: center;
    
}

/* Scrollbar */

ul::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
ul::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}
ul::-webkit-scrollbar-thumb {
    background-color: #B9B7BD;
    border-radius: 10px;
}


#todos .button {
    height: 40px;
    width: 40px;
}

.delete-button, .done {
    margin-right: 5px;
    margin-left: 5px;
    background-color: #EEEDE7;
}

ul li {
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

li span {
    width: 100px;
    display: inline-block;
}


.strike {
    text-decoration: line-through;
}

.btn-containers {
    justify-content: center;
    align-items: center;
}

.btn-containers button {
    margin-left: 5px;
    margin-right: 5px;
}

button {
    cursor: pointer;
}

.button:focus:not(:active) {
    box-shadow: none;
}

.button:focus {
    border-color: #EEEDE7;
}

.submit {
    background-color: #E7D2CC;
    color: #333333;
}

.submit:focus {
    border: none;
    box-shadow: none;
}

.is-warning {
    background-color: #EEEDE7 !important;
}

/* Breakpoint */

@media screen and (min-width: 768px) {
    .task-content {
        text-align: left;
        
    }
    .todo-container {
        padding-left: 4.2rem;
        padding-right: 4.2rem;
    }
    .button-container {
        justify-content: right;
    }
    
}
@media screen and (min-width: 992px) {
    ul {
        height: 200px;
    }
    .task-content {
        text-align: left;
    }
    .todo-container {
        padding-left: 6.2rem;
        padding-right: 4.2rem;
    }
}